.drag{
  color:black;
  border:1px dotted grey;
  margin:1px;
  padding:3px;
  width:100px;
  height:100px;
  border-radius:5px; 
}
.fakeDrag{
  color:black;
  border:1px dotted grey;
  margin:1px;
  padding:3px;
  width:100px;
  height:100px;
  border-radius:5px;
}

.drop{
  color:#777;
  width: 300px;
  height: 50px;
  border:1px solid #777;
  margin:10px;
  padding:2px;
  background-color:white;
  border-radius:5px;
}

.correct2{
  width:200px;
  background-color:#80ac07;
  border-radius:5px;
  color:white;
  padding:5px;
}

.incorrect2{
  width: 200px;
  background-color:#d55704;
  border-radius:5px;
  color:white;
  padding:5px;
}

.right{color:green}

.wrong{color:red}

.userPick{
  background-color:#F8F8F8;
  border-radius:5px;
  color:black;
  padding:5px;
}

.pipe{
  background-color:#E6E6E6;
  border: 1px dotted #E6E6E6;
  border-radius:5px;
  padding:3px;
}
.pipe:hover{
  background-color: grey;
}
.clicked{
  background-color:grey;
  color:white;
}

.delete{
  padding:1px;
  margin:2px;
  color:red;
  border-radius:2px;
  font-size:10px;	
}

.clone{
  color:red;
  z-index:-20;
}

.chosen{
  border: 1px dotted grey;
  border-radius:5px;
  padding:3px;
  margin:3px;
}

.dragWord{
  border: 1px dotted grey;
  border-radius: 5px;
  padding:3px;
  margin:1px;
  font-weight:normal;
}

.dropWord{
  border: 1px solid grey;
  background-color:white;
  margin:3px;
  padding:3px;
  color:grey;
  border-radius: 10px 30px 10px 30px;
  width:150px;
  height:100px;
  float:left;
}

.userChoice{
  border: 1px dotted grey;
  border-radius:5px;
  padding:3px;
  margin:3px;
}


/*level1a-copy.html*/
.sentence span {
  padding: 2px;
  cursor: pointer;
}
.sentence span.selected {
  background-color: orange;
}
.answers {
  position: relative;
}

.answers .word {
  padding: 8px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
/*
.answers .box-border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.answers .box-start {
  border-left: 2px solid black;
}
.answers .box-end {
  border-right: 2px solid black;
}
*/
.answers .split {
  position: absolute;
  width: 11px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 100%;
  top: 5px;
  bottom: 5px;
}

.answers .split:hover {
  background-color: black;
}


.bg-navy {
  background-color: #001f3f; }

.bg-blue {
  background-color: #0074d9; }

.bg-aqua {
  background-color: #7fdbff; }

.bg-teal {
  background-color: #39cccc; }

.bg-olive {
  background-color: #3d9970; }

.bg-green {
  background-color: #2ecc40; }

.bg-lime {
  background-color: #01ff70; }

.bg-yellow {
  background-color: #ffdc00; }

.bg-orange {
  background-color: #ff851b; }

.bg-red {
  background-color: #ff4136; }

.bg-fuchsia {
  background-color: #f012be; }

.bg-purple {
  background-color: #b10dc9; }

.bg-maroon {
  background-color: #85144b; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #aaaaaa; }

.bg-silver {
  background-color: #dddddd; }

.bg-black {
  background-color: #111111; }



