.drag{
  color:black;
  border:1px dotted grey;
  margin:1px;
  width:100px;
  height:100px;
  border-radius:5px; 
  z-index:50;
}

.drop{
  color:black;
  width: 300px;
  height: 100px;
  border:1px solid black;
  margin:10px;
  padding:2px;
  background-color:white;
  border-radius:5px;
  z-index:-1;
}

.high{
	background-color: black;
	border-radius:5px;
}

.correct{
  background-color:green;
  border-radius:5px;
  color:white;
  padding:5px;
  z-index:50;
}

.incorrect{
  background-color:red;
  border-radius:5px;
  color:white;
  padding:5px;
}
