@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*{
  font-family: "Open Sans";

}
.drag{
  color:black;
  border:1px dotted grey;
  margin:1px;
  padding:3px;
  width:100px;
  height:100px;
  border-radius:5px; 
}
.fakeDrag{
  color:black;
  border:1px dotted #aaa;
  margin:1px;
  padding:3px;
  width:100px;
  height:100px;
  border-radius:5px;
  background-color: #ccc;
}

.drop{
  color:#777;
  width: 300px;
  height: 50px;
  border:1px solid #777;
  margin:10px;
  padding:2px;
  background-color:white;
  border-radius:5px;
}

.sentence span.selected.correct {
  background-color:#80ac07;
  color:white;
}

.sentence span.selected.incorrect {
  background-color:#d55704;
  color:white;
}

.right{color:green}

.wrong{color:red}

.userPick{
  background-color:#F8F8F8;
  border-radius:5px;
  color:black;
  padding:5px;
}

/*
.pipe{
  background-color:#E6E6E6;
  border: 1px dotted #E6E6E6;
  border-radius:5px;
  padding:3px;
}
.pipe:hover{
  background-color: grey;
}
*/
.clicked{
  background-color:grey;
  color:white;
}

.delete{
  padding:1px;
  margin:2px;
  color:red;
  border-radius:2px;
  font-size:10px;	
}

.clone{
  color:red;
  z-index:-20;
}

.chosen{
  border: 1px dotted grey;
  border-radius:5px;
  padding:3px;
  margin:3px;
}

.dragWord{
  border: 1px dotted grey;
  border-radius: 5px;
  padding:3px;
  margin:1px;
  font-weight:normal;
  z-index:100;
}

.dropWord{
  border: 1px solid grey;
  background-color:white;
  margin:3px;
  padding:3px;
  color:grey;
  border-radius: 10px 30px 10px 30px;
  width:150px;
  height:100px;
  float:left;
}

.userChoice{
  border: 1px dotted grey;
  border-radius:5px;
  padding:3px;
  margin:3px;
  background-color: #ccc;
}


/*level1a-copy.html*/
.sentence span {
  padding: 4px;
}
.sentence span.selectable {
  cursor: pointer;
}
.sentence span.selected {
  border-radius: 5px;
  background-color: #ccc;
}

.answers {
  position: relative;
}
.answer span {
  padding: 2px;
  cursor: pointer;
}
.answers .punctuation {
  padding: 8px 0;
  padding-right: 8px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
.answers .word {
  padding: 8px;
  border-top: 4px solid none;
  border-bottom: 4px solid none;
  height: 30px;
  line-height: 27px;
  display: inline-block;
  vertical-align:middle;
  cursor: default;
}
.answers .box-border.selected {
  padding-top: 4px;
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  padding-bottom: 4px;
}
.answers .box-start.selected {
  padding-left: 4px;
  border-left: 4px solid orange;
}
.answers .box-end.selected {
  padding-right: 4px;
  border-right: 4px solid orange;
}
.answers .split {
  position: absolute;
  cursor: pointer;
  height: 46px;
}
.pipe {
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 5px;
  bottom: 5px;
  height: 35px;
}

.answers .pipe.hover {
  background-color: black;
}
.answers .pipe.selected {
  background-color: black;
  
}


.bg-navy {
  background-color: #001f3f; }

.bg-blue {
  background-color: #0074d9; }

.bg-aqua {
  background-color: #7fdbff; }

.bg-teal {
  background-color: #39cccc; }

.bg-olive {
  background-color: #3d9970; }

.bg-green {
  background-color: #2ecc40; }

.bg-lime {
  background-color: #01ff70; }

.bg-yellow {
  background-color: #ffdc00; }

.bg-orange {
  background-color: #ff851b; }

.bg-red {
  background-color: #ff4136; }

.bg-fuchsia {
  background-color: #f012be; }

.bg-purple {
  background-color: #b10dc9; }

.bg-maroon {
  background-color: #85144b; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #aaaaaa; }

.bg-silver {
  background-color: #dddddd; }

.bg-black {
  background-color: #111111; }

.parts.filled {
  cursor: crosshair;
}
.parts {
  width: 50%;
  border: 2px solid grey;
  margin: 10px auto;
  height: 50px;
}
.parts.remove {
  cursor: crosshair;
}
.parts.selectable,
.part-name.selectable {
  border-color: orange;
  cursor: pointer;
}
.part-name {
  border-right: 2px solid grey;
  margin: 0 auto;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.part-target {
  padding: 0px 20px;
}
.word.selectable {
  cursor: pointer;
}
.split {
  opacity: 0.7;
}

.droppable {
  border: 2px solid orange;
}
.boxes .word {
  margin: 2px;
}
.check-split-wrapper {
  text-align: center;
}

#check-split {
  text-align: center;
  padding: 14px;
  font-size: 17px;
  line-height: 15px;
}
